body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    
}

.hp-value{
    accent-color: crimson;
}


.hp {
    padding: 1vh 1vw;
    z-index: 1;
    background-color: rgb(231, 218, 183);
    border-radius: 0.4em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#xp {
    position: fixed;
    left: 23vw;
    top: 2vh;
    padding: 1vh 1vw;
    z-index: 1;
    background-color: rgb(231, 218, 183);
    border-radius: 0.4em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero .hp {
    position: fixed;
    left: 10vw;
    top: 2vh;
}

.enemy .hp {
    position: fixed;
    left: 70vw;
    top: 2vh;
}


#world {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/background-world.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#popup {
    position: absolute;
    background-color: rgb(231, 218, 183);
    width: 30rem;
    height:20rem;
    left: 35%;
    top: 35%;
    border: 3px solid transparent;
    border-radius: 0.2em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


#battle {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/background-battle.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.fight-btn{
    background-color: transparent;
    border: 0;
    border-radius: 0.2em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}


#magic {
    position: absolute;
    left: 10vw;
    top: 15vh;
}

#magic img {
    height: 7vh;
}


#attack {
    position: absolute;
    left: 8vw;
    top: 24vh;
    width: 60px;
}

#attack img {
    height: 13vh;
}

#heal {
    background-image: url();
    position: absolute;
    left: 9.5vw;
    top: 38vh;
    width: 60px;
}

#heal img {
    height: 9vh;
}


.hero {
    background-image: url(../img/Yggdrasil.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.enemy {
    background-image: url(../img/dragon.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;

}