body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    
}

#xp {
    position: fixed;
    left: 80vw;
    top: 4vh;
    z-index: 1;
    border-radius: 0.2em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero .hp {
    position: fixed;
    left: 80vw;
    top: 2vh;
    z-index: 1;
    border-radius: 0.2em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.enemy .hp {
    position: fixed;
    left: 5vw;
    top: 2vh;
    z-index: 1;
    border-radius: 0.2em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#world {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/background-world.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#popup {
    position: absolute;
    background-color: rgb(231, 218, 183);
    width: 20rem;
    height:10rem;
    left: 35%;
    top: 35%;
    border: 3px solid transparent;
    border-radius: 0.2em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#battle {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/background-battle.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#magic {
    position: absolute;
    left: 95vw;
    top: 20vh;
    width: 60px;
    text-align: center;
}


#attack {
    position: absolute;
    left: 95vw;
    top: 25vh;
    width: 60px;
    text-align: center;
}

#block {
    position: absolute;
    left: 95vw;
    top: 30vh;
    width: 60px;
    text-align: center;
}


.hero {
    background-image: url(../img/hero-world.png);
    position: absolute;
    background-repeat: no-repeat;
}

.enemy {
    /* background-image: url(../img/enemy-world.png); */
    background-color: blueviolet;
    position: absolute;
    /* background-repeat: no-repeat;
    background-size: 5%; */
    /* width: 2vw; */

}